# Formspree Endpoint for Portfolio Contact Form
# Endpoint: https://formspree.io/f/xdeagbyb
# Gmail Notification Recipient: sobhiyasobhi63@gmail.com

VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/xdeagbyb
